@{
  Layout = "_Layout";
}

<h1>Add a new Restaurant</h1>

<form action="/restaurants" method="post">
  <label for="restaurantName">Restaurant Name</label>
  <input id="restaurantName" name="restaurantName" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/restaurants">Back to Restaurants.</a></p>